@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
main{
    background: #040404;
}
*{
    text-decoration: none;
    list-style: none;
}
.top-nav{
    color: white;
}
ul.social_icon{
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 89px;
}

ul.social_icon > li{
    display: flex;
    width: 31px;
    height: 32px;
    background: #141414;
    border-radius: 50%;
    padding: 6px;
    align-items: center;
    justify-content: center;
}

ul.social_icon > li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.social_icon > li a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}
ul.social_icon > li a:hover{
    filter: invert(20%) sepia(69%) saturate(6870%) hue-rotate(356deg) brightness(98%) contrast(119%);
}
ul.social_icon > li:hover {
    background-color: white;
}
.second-top-nav{
    background-color: white;
}
.nav_bar a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-left: 15px;
}
.nav_bar a:hover{
    color: #fb4834;
}
.btn-1 a{
    background-color: #fb4834;
    color: white;
    padding: 17px 36px;
    transition: 0.5s;
    /* border: 1px solid black; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-decoration: none;
    border-radius: 6px;
}

.btn-1 a:hover{
background-color:white;
color: black;
}
.btn-1 a div img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}
.ham-nav img{
    width: 100%;
    height: 10%;
    object-fit: contain;
}
.ham-nav{
    width: 20px;
    border: 1px solid;
    cursor: pointer;
}
.second-top-nav.d-flex.text-center.align-items-center.justify-content-around {
    border-radius: 7px;
}
.section-1{
    color: white;;
}
.section-1 h1{
    font-size: 3.5rem;
}
.image-1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
/* .image-1 {
    width: 746px;
    height: 43px;
} */
.arrow-para p{
    font-weight: 100;
    font-size: 0.8rem;
}

.img-2 {
    width: 320px;
    height: 206px;
    margin-left: 58px;
}
.section-2s{
    position:relative;
    width: 746px;
    height: 43px;
    top: -54px;
}
.section-2s p {
    position: absolute;
    color: white;
    top: 101px;
    right: 561px;
    transform: rotate(90deg);
    font-size: 12px;
}
.section-2s p img{
    position: absolute;
    width: 78px;
}
.banner {
    /* width: 658px;
    height: 396px; */
}
.img-2{
    animation: rotate 15s linear infinite;

}
*{
    /* outline:1px solid red; */
}
@keyframes rotate {
0%{
transform:rotate(0deg);
}
100%{
transform:rotate(360deg);
}
}
.btn-2 a
    {
        text-decoration: none;
        border: 1px solid #262626;
        border-radius: 35px;
        padding: 7px 9px;
        color: white;
        transition: 0.3s;
    }
    .btn-2 a:hover{
        background: white;
        color: black;

    }
    .distance h4 span {
        padding-left: 341px;
    }
    .distance h4{
        color: white;
    }
    /* tr:nth-last-child(3){
        border-bottom: 1px solid;
    } */
    td.col-lg-4 {
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
    td h5{
        color: white;
    }
    td p{
        color: #ababab;
    }
    .section-3{
        background: #f9f5f2;
        border-radius: 20px;
    }
    .btn-3 a {
        border: 1px solid;
        border-radius: 22px;
        color: black;
        background-color: #f9f5f2;;
        cursor: pointer;
        transition: 0.3s;
        text-decoration: none;
        padding: 10px 15px;
    }
    .btn-3 a:hover{
        background-color:black;
        color: white;
    }
    .section-3-top h1 span{
        display: block;

    }
    .section-3-top h1{
        font-weight: 700;
    }
    .section-3-content{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
    }
    .section-3-content h3{
        position: absolute;
        top: 217px;
        left: -16px;
        transform: translate(-50%,-50%);
        /* transform: translate(10px, 10px); */
    }
    /* expanded Items */
    .main_expnd {
        display: flex;
    }
    .expnd_item {
        flex: 1 0 150px;
        transition: all 0.5s;
        padding: 0.5rem;
    }
    
    .expnd_item.active {
        flex: 2 0 300px;
    }
    /* inner expnd item */
    .section-3-content {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .section-3-content p {
        transform: translateX(10px);
        opacity: 0;
        visibility: hidden;
    }
    
    .section-3-content h3 {
        transform: rotate(-90deg);
    }
    .distance h2{
        color: white;
    }
    .distance h2 span{
        display: block;
    }
    .image-figma img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .image-figma{
            background: white;
            border-radius: 50%;
            height: 81px;
            width: 80px;
            padding: 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .cart{
        background-color: #f9f5f2;
        border-radius: 11px;
    }
    .section-4 p{
        color: #ababab;
    }
    .section-4 p span:hover{
        color: white;
        cursor: pointer;
    }
    .image-mobile img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .image-mobile p{
        color: #aaaaaa;
    }
    .cart-info h5{
        color: white;
    }
  .image-mobile sub{
    color: #aaaaaa;
    font-size:18px ;
  }
  .image-mobile p{
    position: relative;
  }
  .image-mobile p span{
    border-bottom: 2px solid #aaaaaa;
    padding: 29px;
    position: absolute;
    bottom: 17px;
    margin: 0px 10px;
}
.section-4-para p
    {
        color: white;
        font-weight: 600;
    }
.section-4-carts{
    border: 1px solid #aaaaaa;
    border-right: none;
    border-left: none;
}
.image-hold-1{
    height: 460px;
}

.section-4-end{
    width: 150px;
    height: 120px;
    
}
.amazon-image{
    border: 2px solid;
    border-radius: 5px;
    padding: 49px 82px;
    position: relative;
    overflow: hidden;
    transition: .5s;
    /* width: 78px; */
    /* height: 55px; */
}
.amazon-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* filter: invert(1); */
    width: 150px;
}
.amazon-image:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: .5s;
    background:#0077b5;
    transition: .5s;

}
.amazon-image:hover:before{
    top: 0;
}
.amazon-image img:hover{
    filter: invert(0);
}

.a-1:before{
    background: #ff9900;
}
.a-2:before{
    background:#3F0F3F;
}
.a-3:before{
    background:#ff3e30;
}
.a-4:before{
    background:#00717e;
}
.btn-4 a {
    border: 1px solid;
    border-radius: 19px;
    color: black;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    padding: 10px 26px;
}
.btn-4 a:hover{
    background: black;
    color: white;
}
.testimonal-below h1 span{
    display: block;
}
.testimonal-below .border-bottom{
    border-bottom:1px solid #e1ddda;
    /* line-height:2rem; */
}
.left img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.left{
    width: 50px;
    height: 50px;
}
.left img:hover{
    filter: invert(40%) sepia(58%) saturate(5352%) hue-rotate(344deg) brightness(117%) contrast(97%);
}
.comma{
    width: 122px;
    height: 120px;
}
.para p{
    font-weight: 700;
}
.para-info p{
    color: grey;
    font-weight: 600;
}
.image-2{
    border-radius: 50%;
    /* overflow: hidden; */
    width: 120px;
    height: 120px;
    padding: 8px;
}
.image-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
.images{
    flex-direction: column;
    align-items: center;
}
.distance h1 span{
    display: block;
}
.distance h1{
    color: white;
}
.work img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.work{
    width: 100%;
    height: 100%;
}
.work-1{
    color: white;
}
.work-2{
    border: 1px solid ;
    border-left: none;
    border-right: none;
}
.semi-footer h1{
    font-size: 8rem;
}
.semi-footer-2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.semi-footer-2{
    width: 34px;
    /* height: 120px; */
    position: absolute;
    right: 18px;
    transform: translate(-50%,-50%);
    top: 85px;
}
.semi-footer{
    border-bottom: 2px solid black;
    position: relative;
}
.semi-footer-3{
    
/* border: 1px solid; */
    
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
border-radius: 50%;
    
position: absolute;
    
padding: 75px 46px;
    
transform: translate(-50%, -50%);
    
right: -9px;
    
top: 281px;
    
background-color: black;
    
color: white;
    
cursor: pointer;
    
transition: .3s;
    
width: 201px;
    
height: 177px;
}
.semi-footer-3:hover{
    background-color:#f9f5f2;
    color:black;
}
.cart-1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
}
.cart-1 ul li a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cart-1 ul li{
    width: 20px;
    margin-right: 11px;

}
.cart-1 ul{
    margin-bottom: 0;
}

.cart-1 ul li a img:hover{
    filter: invert(52%) sepia(100%) saturate(4676%) hue-rotate(341deg) brightness(105%) contrast(104%);
}
.final-footer{
    color: white;
}
.copy-right img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.copy-right{
    
        filter: invert(1);
        width: 20px;
        height: 20px;
    
}
.copy-right p span{
    color: #fc4935;
}
.final-paras.d-flex.image-3 {
    width: 20px;
    height: 20px;
    filter: invert(52%) sepia(100%) saturate(4676%) hue-rotate(341deg) brightness(105%) contrast(104%);
    border: 1px solid;
    position: fixed;
    bottom: 35px;
    right: 111px;
}
image-3 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.uni-carts{
    color: white;
    border: 1px solid grey;
    border-left: none;
    border-right: none;
}
/* marquee start*/
.marquee-section {
    position : relative;
    background-color: black;
    padding : 31px 0 35px;
    border: 1px solid;
    }
    .marquee-section .inner-container {
    /* max-width : 1812px; */
    /* margin : 0 auto; */
    }
    .marquee-section .marquee {
    position : relative;
    --duration : 30s;
    --gap : 15px;
    display : flex;
    overflow : hidden;
    /* user-select : none; */
    }
    .marquee-section .marquee-block {
    flex-shrink : 0;
    display : flex;
    align-items : center;
    justify-content : space-around;
    gap : var(--gap);
    min-width : 100%;
    animation : scroll var(--duration) linear infinite;
    margin-left: 20px;
    }
    .marquee-section .marquee-block .content-box {
    position : relative;
    margin-right: 20px;
    }
    /* .marquee-section .marquee-block .content-box::before {
    content : "";
    position : absolute;
    top : 11px;
    right : -68px;
    width : 20px;
    height : 20px;
    background-image : url(/assets/images/star.png);
    } */
    .content-box a img {
        filter: invert(1);
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    .marquee-section .marquee-block .content-box:last-child {
    margin-right : 0;
    }
    .marquee-section .marquee-block .content-box:last-child::before {
    display : none;
    }
    .marquee-section .marquee-block .content-box .title {
    font-size : 30px;
    font-weight : 600;
    margin-bottom : 0;
    color : var(--theme-color-light);
    font-family: var(--title-font);	
    }
    @keyframes scroll {
        0% {
            transform : translateX(0);
        }
        100% {
            transform : translateX(calc(-100% - var(--gap)));
        }
    }
    .title a {
        color: white;
        text-decoration: none;
    }
    /* marquee end */
    .work-2 h3{
        background: rgb(255,255,255);

        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(185,212,218,1) 100%);
        background-size: 0 2px;
    
        background-position: 0 95%;
        transition: background-size 0.5s;
        padding: 0.3% 0;
        background-repeat: no-repeat;
        color: inherit;
        
        display: inline;
        cursor: pointer;
    }
    .work-2 h3:hover{
        background-size: 100% 2px;     
}
.list {
    /* border-right: 1px solid black; */
    /* border-left: 1px solid black; */
}
.cross_icon {
    display: none;
}
#icon img {
    /* width: 14px; */
    /* height: 14px; */
    /* display: none; */
}
.list ul {
    display: flex;
    margin: 0;
    padding: 2.5rem 3rem;
    display: flex;
    justify-content: space-between;
    color: black;
}
.list ul li a {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,3,3,1) 100%);
    background-size: 0 2px;
    background-position: 0 95%;
    transition: background-size 0.5s;
    padding: 0.3% 0;
    background-repeat: no-repeat;
    color: inherit;
    font-size: 1.0rem;
    display: inline;
    cursor: pointer;
}
.figma-section h3{
    font-weight: 700;
}
/* .image-3 img{
    width: 100%;
    object-fit: contain;
    height: 100%;
} */
/* .image-3{
    width: 20px;
    height: 20px;
} */
.final-paras.d-flex.image-.orange-arrow {
    position: fixed;
    right: 94px;
    bottom: 32px;
}
.orange-arrow img {
    /* position: fixed; */
    /* bottom: 53px; */
    width: 100%;
    /* left: 1120px; */
}


.image-hold-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,70%);
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 50%;
    transition: all 0.3s;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.image-hold:hover .image-hold-2 {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%,-50%);
}
.image-hold-2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
}
.image-hold{
    position: relative;
}
.image-hold-1{
    position: relative;
}
.image-hold-1:hover .image-hold-2 {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%,-50%);
}
.a-1 img{
    filter: invert(1);
}
.show li {
    padding-right: 23px;
}
.paras{
    color: #8e8e8e;
}

@media (max-width:1200px){
    .nav_bar{
        /* display: none; */
    }
    .second-top-nav{
        justify-content: space-between;
    }
    .btn-1 a{
        display: none;
    }
}
@media (max-width:992px){
    
    .work-1{
        text-align: center;
    }
    .semi-footer-3{
        right: -138px;
    }
    .btn-1 a{
        display: block;
    }
/* resposive navbar start*/

.list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    z-index: 999;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10%);
    transition: 0.5s; 
  
  }
  
  ul.show {
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 284px;
    transform: translate(-50%,-50%);
  }
  .list ul li a {
    font-size: 4vw;
    font-weight: 900;
    color: #fff;
    transform: translateY(100%);
    display: inline-block;
    transition: all 0.5s;
  }
  ul.show li {
    padding-right: 0 !important;
    height: 56px;
    overflow: hidden;
  }
  
  /* cross  icon */
  .cross_icon {
    position: absolute;
    top: 30px;
    right: 30px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
  }
  .cross_icon img {
    height: 30px;
    width: 30px;
  }
  .cross_icon:hover {
    background: orange;
  }
  /* show navbar*/
  .list.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    
  }
  .list.show ul li a {
    transform: translateY(0);
    transition-delay: 0.8s;
  }
  /* resposive navbar end*/
  }

@media (max-width:768px){
    .section-2s p{
        display: none;
    }
    .section-2s p img{
        display: none;
    }
    .work-1{
        text-align: center;
    }
    .section-2s.image-1{
        display: none;
    }

    
}
@media (max-width:576px){
    .final-paras.d-flex.image-3.orange-arrow {
        position: fixed;
        right: 298px;
        bottom: 32px;
    }
    .distance h4{
        font-size: 16px;
        margin: 20px 0;
        line-height: 25px;
    }
    .distance h4 span {
        padding-left: 0px;
    }
    .carts{
        flex-direction: column;
    }
    .uni-carts{
        flex-direction: column;
        padding: 10px;
    }
    .uni-carts p{
        text-align: center;
        
    }
    .section-6
        {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
    
        .section-3-content h3 {
            top: 151px;
        }
        .image-1-arrow{
            display: none;
        }
        .image-1 img{
            /* display: none; */
        }
        .semi-footer-3 {
            display: none;
        }
        .semi-footer h1 {
            font-size: 5rem;
        }
        .btn-1 a{
            display: none;
        }
        .section-1 h1 {
            font-size: 2.2rem;
        }
        .col-lg-4.final-footer{
            display: none;
        }
        .section-2s.image-1{
            display: none;
        }
        ul.top-nav-icons.d-flex.justify-content-around.social_icon{
            margin: 0;
        }
    }